@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$header: #21255C;
$body-bg: #F4F8FF;
$body-bg2: #E9EDF5;
$body-color: #ffffff;
$border-radius: 5px;
$btn-border-radius: 5px;
$border-color: #404373;
$input-bg: #EDF1F4;
$primary-color2: #2C55FF;
$text-primary: #3E427E;
$text-secondary: #8688A2;
$input-placeholder-color: $text-secondary;
$btn-gradient-start: #5FADFF;
$btn-gradient-end: #86C1FF;

/* make the customizations */
$theme-colors: (
    primary: #2D3166,
    primaryLight: #B1E1FF,
    primaryMid: #5FADFF,
    primaryDark: #3B82FF,
    primaryShadow: rgba(45,49,102,0.3),
    secondary: #FAB445,
    inactive: #D8D5DD,
    info: #2552a5,
    danger: #ce4353,
    warning: #a0931b,
    // CUSTOM STARTS HERE
    primary2: $primary-color2,
    bg: $body-bg,
    bg2: $body-bg2,
    input: $input-bg,
    // nav: $nav-bg,
    header: $header,
    // panel: $panel-bg,
    white: #ffffff,
    textPrimary: $text-primary,
    textSecondary: $text-secondary,
);

.btn-secondary {
    color: $body-color !important;
}

.btn-inactive {
    color: $text-secondary !important;
    opacity: 0.5;
}